.App {
  text-align: center;
}
.section {
  text-align: center;
  height: 400px;
}

div.section:nth-of-type(odd) {
  background-color: #e0e0e0;
}

div.section:nth-of-type(even) {
  background-color: #467fcf;
}
